<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">

    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">



    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <img src="..\static\Vultures\LogoV1.png" width=100 />
    <div>
        {% block content %} {% endblock %}
    </div>
 </body>
</html>