{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>{% block title %} Welcome to BusBoard {% endblock %}</h1>
        <form name="postcodeForm" method="post">
            <input type="text" placeholder="Postcode" name="postcode" id="postcode" value="{{postcode}}">
            <input type="submit" value="Search">
        </form>
    </div>
    {%for stop_point in stop_points%}
    <div>
        {% set outer_loop_index = loop.index %}
        <div>
            <h1>
                {{stop_point["name"]}}
            </h1>
            <h3>
                <span>
                    {{stop_point["indicator"]}}
                </span>
            </h3>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Time to Station</th>
                    </tr>
                </thead>
                <tbody>
                    {%for arrival in stop_point["arrivals"]%}
                    <tr>
                        <td>{{arrival["number"]}}</td>
                        <td>{{arrival["destination"]}}</td>
                        <td id="stop{{ outer_loop_index }}arrival{{ loop.index }}">{{arrival["time_to_station"][0]}}m {{arrival["time_to_station"][1]}}s</td>
                    </tr>
                    <script>
                        let stop{{ outer_loop_index }}arrival{{ loop.index }} = {{arrival["time_to_station"]}}

                        console.log(stop{{ outer_loop_index }}arrival{{ loop.index }})

                        setInterval(() => {
                            document.postcodeForm.submit()
                    }, 30000)

                    setInterval(() => {
                        if (stop{{ outer_loop_index }}arrival{{ loop.index }}[1] > 0){
                            stop{{ outer_loop_index }}arrival{{ loop.index }}[1] = stop{{ outer_loop_index }}arrival{{ loop.index }}[1] - 1
                        }
                        else{
                            stop{{ outer_loop_index }}arrival{{ loop.index }}[1] = 59
                            stop{{ outer_loop_index }}arrival{{ loop.index }}[0] = stop{{ outer_loop_index }}arrival{{ loop.index }}[0] - 1
                        }

                        document.getElementById("stop{{ outer_loop_index }}arrival{{ loop.index }}").innerHTML = `${stop{{ outer_loop_index }}arrival{{ loop.index }}[0]}m ${stop{{ outer_loop_index }}arrival{{ loop.index }}[1]}s`
                    }, 1000)
                    </script>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endfor %}
{% endblock %}


